.wrapper{
    width: 100%;
    height: 100vh;
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_window{
    max-width: 500px;
    padding: 0 32px;
    border-radius: 40px;
    width: 100%;
    height: auto;
    padding: 60px 0  100px 0 ;
    background: var(--window-color);
    display: flex;
    justify-content: center;
    box-shadow: var(--window-shadow);
}

.title{
    color: var(--redirect-link-color);
    text-align: center;
    font-weight: 600;
}

.error_text, .error_text_pas{
    color: red;
    font-size: 13px;
    font-weight: 400;
    margin-left: 10px;
    padding: 0 5px;
}

#pas{
    margin-bottom: -20px;
}

.email_field, .password_field{
    width: 276px;
    height: 41px;
    background-color: rgba(0, 0, 0, 0);
    border: var(--field-color);
    border-radius: 15px;
    margin-top: -2px;
    outline: none;
    transition: .4s ease;
    color: var(--redirect-link-color);
    font-size: 15px;
    padding-left: 20px;
    &:focus{
        border: var(--field-color-active);
    }
}

.email_block, .password_block{
    position: relative;
    p:not(.error_text){
        color: var(--redirect-link-color);
        font-size: 13px;
        font-weight: 400;
        margin-left: 10px;
    }
}

.password_block{
    margin-top: 34px;
}

.button{
    width: 296px;
    height: 35px;
    border-radius: 15px;
    background-color: #00C851;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 0px 0px 10px rgba(0, 200, 81, 0.50);
    margin-top: 45px;
    transition: .4s ease;
    cursor: pointer;
    &:hover{
        transform: scale(.98);
    }
    &:disabled{
        background-color: #067a34;
        color: rgb(170, 170, 170);
        box-shadow: 0px 0px 20px rgba(2, 128, 53, 0.5);
    }
}

.funс_block{
    width: 261px;
    color: #fff;
    font-size: 13px;
    font-weight: 400;
    margin-top: 30px;
    text-decoration: none;
    .redirect_link{
        cursor: pointer;
        transition: .4s ease;
        text-decoration: none;
        color: var(--redirect-link-color);
        &:hover{
            transform: scale(.95);
        }
        &:last-child{
            margin-left: 15px;
        }
    }
}

@media (max-width: 564px) {
    .wrapper{
        justify-content: none;
    }
    .form_window{
        margin: 0 auto;
        width: calc(100% - 64px) !important;
    }
}

@media (max-width: 450px) {
    .title{
        font-size: 26px;
    }
    .email_field, .password_field{
        width: 230px;
        height: 41px;
        color: var(--redirect-link-color);
        font-size: 13px;
        padding-left: 20px;
    }
    .button{
        width: 250px;
    }
}
@media (max-width: 360px) {
    .title{
        font-size: 26px;
    }
    .email_field, .password_field{
        width: 160px;
        font-size: 13px;
    }
    .button{
        width: 180px;
    }
    .funс_block{
        display: flex;
        flex-flow: column;
    }
    #form{
        display: flex;
        flex-flow: column;
        align-items: center; 
    }
    .redirect_link{
        text-align: center;
        &:last-child{
            margin-left: 0px !important;
            margin-top: 10px;
        }
    }
    .error_text{
        font-size: 10px;
    }
}