.title{
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    font-weight: 500;
}

.fields_container{
    max-width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}
.submitButton{
    margin-top: 20px;
    margin-bottom: 20px;
}
.field_title{

}

.field{
    text-align: center;
}

.input{
    border: 1px solid rgba(0, 0, 0, 0.235);
    border-radius: 10px;
}