$padding-count: 20px;

.layout_wrapper{
    width: 100%;
    height: 97vh;
    background: var(--home-bg-color);
    padding-top: $padding-count;
}
.header_container{
    width: calc(100% - ($padding-count*2));
    margin: 0 auto;
}

.horizontal_tools_container{
    display: grid;
    grid-template-columns: 1.2fr 4fr;
    margin-top: $padding-count;
    margin-left: $padding-count;
    margin-right: $padding-count;
    gap: $padding-count;
}

.wrapper{
    z-index: -1;
    width: 100%;
    height: 72vh;
    border-radius: var(--tools-border-radius);
    margin-top: $padding-count;
    box-shadow: var(--tools-shadow);
    overflow-y: scroll;
    padding-bottom: $padding-count;
}
.toolkit_window{
    width: 100%;
    height: 12vh;
    border-radius: var(--tools-border-radius);
    padding-bottom: -$padding-count;
    box-shadow: var(--tools-shadow);
    display: flex;
    align-items: center;
}

.tool_title{
    color: var(--home-page-color);
    font-weight: 600;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 24px;
}

.data_titles{
    li{
        display: inline;
        cursor: pointer;
        padding: 8px 17px;
        // background: rgb(160, 160, 255);
        border: 1px solid rgba(0, 0, 0, 0.215);
        border-radius: 20px;
        color: black;
        font-size: 14px;
        transition: .3s ease;
        &:not(:first-child){
            margin-left: 15px;
        }
        &:hover:not(.active){
            background-color: rgba(0, 0, 0, 0.099);
        }
    }
}

.active{
    background-color: black;
    color: white !important;
}

.data_window{
    width: calc(100% - 80px);
    // border: 1px solid rgba(0, 0, 0, 0.264);
    margin: 0 auto;
    height: 90%;
    border-radius: var(--tools-border-radius);
    overflow-y: scroll;
    padding-top: 20px;
}

.car_block{
    width: 98%;
    margin: 0 auto;
    height: 60px;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 0.263);
    border-radius: 10px;
    &:last-child{
        margin-bottom: 10px;
    }
}
