body{margin:0; padding: 0;}

:root{
  --tools-border-radius: 20px;
}

@media (prefers-color-scheme: dark) {
    :root{
      /* auth/registrations page */
      --bg-color: rgb(24, 24, 24);
      --window-color: rgb(41, 41, 48);
      --field-color: 1px solid #ffffff93;
      --field-color-active: 1px solid #ffffff;
      --redirect-link-color: #fff;
      --window-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.50);
      --desc-error-password-color: #A0A0A0;
      /* home page  */
      --home-bg-color: rgb(16, 18, 14);
      --tools-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.232);
      --home-page-color: #fff;
    }
}

@media (prefers-color-scheme: light) {
    :root{
      /* auth/registrations page */
      --bg-color: #fff;
      --window-color: #fff;
      --field-color: 1px solid #2F3034;
      --field-color-active: 1px solid #2F3034;
      --redirect-link-color: #000;
      --window-shadow: 0px -1px 37px 3px rgba(44, 164, 255, 0.2);
      --desc-error-password-color: #000;
      /* home page  */
      --home-bg-color: rgba(1, 132, 255, 0);
      --tools-bg-color: rgba(1, 136, 246, 0.115);
      --home-page-color: #404040;
      --blocks-border: 1px solid rgba(0, 0, 0, 0.271);
      --tools-shadow:rgba(17, 17, 26, 0.1) 0px 0px 16px;
    }
}