.fields_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 90%;
    margin: 0 auto;
}

.funс_block{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 50px;
    display: flex;
    flex-flow: column;
    gap: 10px;
    button{
        max-width: 100px;
    }
}


.delete_button{
    background-color: rgb(255, 58, 58);
    color: white !important;
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition: .3s ease;
    &:hover{
        transform: scale(.95);
    }
}

.red_button{
    background-color: rgb(50, 203, 70);
    border: none;
    padding: 10px;
    color: white !important;
    border-radius: 10px;
    transition: .3s ease;
    &:hover{
        transform: scale(.95);
    }
}

.redirect_link, .delete_button, .red_button{
    cursor: pointer;
    color: black;
}

.formikPrev{
    margin: 0 auto;
}